<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="container">
            <h1>Todo List</h1>

            <form action="/" method="post">
                <input type="text" placeholder="Add todos..." name="todoValue" required>
                <button type="submit">Add</button>
            </form>
         <% if (data) { %>
            <% data.forEach(todoValue => { %>
                <div class="todo-container">
                    <div class="todo-value"><%= todoValue.todo %></div>
                    <div>
                        <a href="/delete/<%= todoValue._id %>" class="todo-delete" >Delete</a>
                    </div>
                </div>
             
            <% }) %>
          
         <% } %>
        </div>
    </body>
</html>